appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
black==21.6b0
bleach==3.3.0
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
click==8.0.1
colorama==0.4.4
configparser==5.0.2
constantly==15.1.0
crayons==0.4.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
dbfread==2.0.4
decorator==5.0.9
defusedxml==0.7.1
entrypoints==0.3
et-xmlfile==1.1.0
fsspec==2021.7.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
ijson==2.6.1
incremental==21.3.0
interact==0.2
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itemadapter==0.2.0
itemloaders==1.0.4
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
kiwisolver==1.3.1
lesscpy==0.14.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
meza==0.42.5
mistune==0.8.4
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.20.3
openpyxl==3.0.7
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.2
pathspec==0.8.1
pickleshare==0.7.5
Pillow==8.2.0
plotly==4.14.3
ply==3.11
priority==1.3.0
prometheus-client==0.11.0
prompt-toolkit==3.0.18
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.9.0
pygogo==0.13.2
PyHamcrest==2.0.2
pymongo==3.11.4
pyodbc==4.0.30
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-slugify==1.2.6
pytz==2021.1
pywin32==301
pywinpty==1.1.2
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
queuelib==1.6.1
regex==2021.7.1
requests==2.25.1
retrying==1.3.3
scipy==1.6.3
Scrapy==2.5.0
Scrapy-UserAgents==0.0.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==21.1.0
six==1.16.0
soupsieve==2.2.1
terminado==0.10.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
Twisted @ file:///C:/Users/KRUSS/Downloads/Twisted-20.3.0-cp39-cp39-win_amd64.whl
Unidecode==1.2.0
urllib3==1.26.5
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.4.2
webencodings==0.5.1
widgetsnbextension==3.5.1
xlrd==1.2.0
zope.interface==5.4.0
